header, main {
  padding-left: 300px;
}

.nav-wrapper {
  max-width: calc(100vw - 300px);
}

@media only screen and (max-width : 992px) {
  header, main {
    padding-left: 0;
  }

  .nav-wrapper {
    max-width: 100vw;
  }
}
